[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altgraph = "*"
future = "*"
macholib = "*"
numpy = "==2.0.2"
six = "*"

[dev-packages]

[requires]
python_version = "3.12"
